body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: bisque;
}

/* Dropzone */
#dropzone {
  background-color: darkgrey;
  border: 2px dashed #222;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 1rem;
}

.drag-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.green-border {
  border-color: green;
}
